#cart {
}

#cart * {
  line-height: 1.5em; 
}

#cart p {
  margin: 0 0 0.5em;
}

#cart #form {}

#cart #cart-header {
}

#cart #cart-footer button
{
	font-size: 105%;
	margin-top: 1em;
	margin-left: 2em;
	padding: 0.75em;
}

#cart #cart-footer #next {}



#cart #cart-show-products {
}

#cart #cart-show-products #product-block-header {

	line-height: 1.3em;
	font-size: 14px;
	font-weight: 700;

	text-transform: uppercase;
	color: #888;

	margin-top: 2em;
	padding-bottom: 1em;
}

#cart #cart-show-products .product-block
{
	padding-top: 1.5em;
	padding-bottom: 2em;
	margin-bottom: 1em;
}

#cart #cart-show-products .product-image img {
	border: 1px #eee solid;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.09);
}

#cart #cart-show-products .product-description {
}

#cart #cart-show-products .product-description a {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.35em;
}

#cart #cart-show-products .product-price {
  height: 46px;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 700;
  color: #B12704 !important;
}

#cart #cart-show-products .product-qty {
	padding: 0;
}

#cart #cart-show-total {
	font-size: 24px;
	font-weight: 900;
}

#cart #cart-show-total #cart-totalrowprice {
	text-transform: uppercase;
	padding-top: 1em;
	margin-bottom: 1.5em;
}

#cart #cart-show-total #cart-totalrowprice #totaltext {
	padding-right: 1em;
}

#cart #cart-show-total #cart-totalrowprice #totalprice {
	color: #D13535;
}

#cart #cart-details {}

#cart #cart-confirm-products {
}

#cart #cart-confirm-shipping-cost {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: dashed 1px #eee;
}

#cart #cart-confirm-shipping-cost #cart-confirm-shipping-cost-name
{
	display: block;
	font-weight: 600;
}

#cart #cart-confirm-shipping-cost #cart-confirm-shipping-cost-desc
{
	display: block;
	font-size: 12px;
	line-height: 2em;
	color: #aaa;
}

#cart #cart-confirm-products .row {
	margin-bottom: 1em;
}

#cart #cart-confirm-details {
	margin-bottom: 2em;
}

#cart #cart-confirm-shipping {
	border: 1px solid #ddd;
	margin: 1em;
	padding: 2em;
	font-size: 18px;
	color: #666;
	background-color: #fafafa;
}

#cart #cart-confirm-total {
	padding-top: 2em;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
}

#cart #cart-confirm-total #totaltext {
	padding-right: 1em;
}

#cart #cart-confirm-total #totalprice {
	color: #D13535;
}

