.product-img-big
{
	margin-bottom: 1em;
}
.product-img-thumb
{
	margin-bottom: 1em;
}

section.productimagesection
{
}

section.productheadsection
{
}

section.productsection
{
	margin-bottom: 3em;
}

section.productsection header
{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

section.productsection h2
{
	padding: 1em 0em;
	margin: 0;
	line-height: 1em;
}
