#productheader
{
	margin-bottom: 3em;
}

#productlist h2
{
	font-size: 200%;
}

#productlist .product
{
	padding-top: 1em;
	margin-top: 0.5em;
	margin-bottom: 4.5em;
}

#productlist .productimg
{
}

#productlist .productbody
{
	margin-bottom: 1em;
}
