
html
{
	width: 100%;
	height: 100%;	
	font-size: 100%;
}

body
{
	margin: 0 auto;
	padding: 0 ;

	font-family: 'Open Sans' !important;
	//font-family: 'Droid Serif',serif;
	font-weight: 400; 
	font-size: 21px;
	
	color: #222;

	min-height: 100%;

	position: relative;
	z-index: 1;


	word-wrap:break-word;
	letter-spacing: -0.1pt;
	line-height: 160%;	
  word-spacing: +1px;

}

p {
	margin: 0 0 1.3em;
}

strong , b {
	font-weight: 700; 
}

h1
{	
	//font-family: 'PT Sans Caption', Arial, sans-serif;
	//font-family: "Lato" !important;
	font-family: 'Open Sans' !important;
	font-weight: 700;
	font-size: 300%;

	line-height: 200%;
	letter-spacing: -1pt;
}

h2 {
	font-family: 'Open Sans' !important;
	font-weight: 400; 
	font-size: 200%;

	line-height: 150%;
	letter-spacing: -1pt;
}

h3 {
	font-family: 'Open Sans' !important;
	font-weight: 300; 
	font-size: 150%;

	line-height: 150%;
	letter-spacing: -1pt;
}

h4{
	font-size: 22px;
}


h1,h2,h3 {
	color: #222;
	word-wrap:normal;
}

h4, h5, h6 {
	color: dimGray;
	font-weight: normal;
}

/* theme color */
/* https://color.adobe.com/Flat-UI-color-theme-2469224/ */

.themecolor0 { color: #2C3E50; }
.themecolor1 { color: #E74C3C; }
.themecolor2 { color: #ECF0F1; }
.themecolor3 { color: #3498DB; }
.themecolor4 { color: #2980B9; }

/* FORMS */
label { padding:0; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
input, textarea { font-size:1em; }
input[type=text], input[type=password], input[type=input], 
input[type=tel], input[type=url], input[type=email], 
input[type=number], input[type=range], input[type=search], input[type=color], 
input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], 
textarea, select {
	background:#f5f5f5;
	border:1px solid #ddd;
	padding:8px 6px; margin:0;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-appearance:none;
}
input[type=submit] { width:auto; -webkit-appearance:none; }
body select { background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAFCAYAAACn39dKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD5JREFUeNpiYGBgmMmAG8z8//8/A7GYCaYJm0EMJAKQYelYNMPY6aQYxojHJWCDQM4nxWUMWFyRzkAGAAgwAGMTKhZAxxJyAAAAAElFTkSuQmCC'); background-repeat:no-repeat; background-position:right; }

.button:link { color:#fff; text-decoration:none; }
.button:hover, input[type=submit]:hover {background:#ccc; text-decoration:none;}
.button.button-small { font-size:0.9em; padding:5px 10px; margin:5px 0; }
.button.button-medium { font-size:1.2em; padding:15px 20px; margin:5px 0; }
.button.button-large { font-size:1.8em; padding:20px 30px; margin:10px 0; }
.button.button-left { float:left; margin:0 30px 10px 0; }
.button.button-right { float:right; margin:0 0 10px 30px; }
.button.button-center { display:block; clear:both; float:none; margin:0 0 30px; width:100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.button.button-center:last-child { margin-bottom:0; }
/* SHORTCODE CUSTOM STYLING */
.button, .button:visited, input[type=submit] {


	color:#fff;
	background:#2980B9;

	border:1px solid #F2E9D8;
	border-radius:6px; 

//	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);

	margin:5px 0; padding:12px 15px;
	text-align:center;
	display:inline-block; width:auto;
	cursor:pointer;
}

.button:hover, input[type=submit]:hover {
	color:#fff;
	background:#3498DB;
}

a {
	text-decoration: none;
	outline: none;
	color: #2980B9;
}

a:link { 
	text-decoration: none;
	color: #2980B9;
	}
a:visited {
	text-decoration: none;
	color: #2980B9;
	}
a:hover {
	text-decoration: underline;
	color: #2980B9;
	}
a:active {
	text-decoration: underline;
	color: #2980B9;
	}

a img {
	border: none;
}

img {
	margin: 0;
}

li {
	list-style-type: square;	
}

/* QUOTE */

.quote
{
	font-style: italic;
	margin-bottom: 1.5em;
}

@media only screen and (min-width : 768px) {

	.quote
	{
		font-weight: 400;
		font-size: 24px;
		text-align: left;
		background-color: #fafafa;
		width: 28%;

		padding: 1em;
		margin-bottom: 0.5em;
		margin-left: 1em;
		margin-right: 0em;

		float: right;
	}

	.quote h3 {
		margin: 0;
		padding: 0;
		float: left;
		color: #444;
	}

	.open-quotes {
		width: 26px;
		height: 22px;
		float: left;
		margin: 0 0 0 -8px;
		padding: 2px;
		background: url('../static/css/images/quote-open.png') no-repeat;
	}

	.closed-quotes {
		width: 26px;
		height: 22px;
		float: right;
		background: url('../static/css/images/quote-closed.png') no-repeat;
		margin: 25px -20px 0 0;
		padding: 0;
	}
}

/* BUTTON LINKS */

.buttonlink
{
	text-align: center;

	background-color: #656D71;

	border: 1px #888 solid;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0, 9, 0, 0.3);

	padding: 1em 20px;
	margin: 3em 0em;

}

.buttonlink a {
	text-decoration: none;
	font-weight: 400;
	color: #eee;
}

.buttonlink a:hover {
	text-decoration: underline;
}

/* SEPARATOR */


.hr {
  clear: both;
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  position: relative;
  margin: 30px 0;
  float: left;
}

.hr-inner {
  width: 100%;
  position: absolute;
  height: 1px;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ddd;
}


/* LAYOUT */

@media only screen and (min-width : 730px) {

	.pagewidth
	{
		max-width: 1310px;	

		margin-right: auto;
		margin-left: auto;
	}

	.postwidth
	{
		max-width: 1310px;	

		margin-right: auto;
		margin-left: auto;
	}


	.fullwidth
	{
		max-width: 100%;
	}

}
