
/* BUTTON LINK */

.button:link { color:#fff; text-decoration:none; }
.button:hover, input[type=submit]:hover {background:#ccc; text-decoration:none;}

/* SHORTCODE CUSTOM STYLING */
.button, .button:visited, input[type=submit] {

	color:$color2;
	background:$color4;

	border:1px solid $color3;
	border-radius:6px; 

//	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);

	margin:5px 0; padding:12px 15px;
	text-align:center;
	display:inline-block; width:auto;
	cursor:pointer;
}

.button:hover, input[type=submit]:hover {
	color:$color2;
	background:$color3;
}

.cta-button a {

	@include cta-button();
}

