/* theme color */
/* https://color.adobe.com/Flat-UI-color-theme-2469224/ */

$color0: #2C3E50 !global;  // dark blue
$color1: #E74C3C !global;  // vivid red
$color2: #ECF0F1 !global;  // silver
$color3: #3498DB !global;  // vivid blue
$color4: #2980B9 !global;  // gray blue

$color1-primary-0: #ECF0F1;
$color2-primary-1: #FFFFFF;
$color3-primary-2: #FFFFFF;
$color4-primary-3: #C7D5D8;
$color5-primary-4: #94AFB5;

$color5: #646464 !global;  // light grey
$color6: #262626 !global;  // dark grey

$purewhite: #fff !global;
$textblack: #222 !global;
$textgray: #666 !global;
$textlight: #bbb !global;

$background0: #fff;
$background0-primary0: #ffffff !global;
$background0-primary1: #e5e5e5 !global;
$background0-primary2: #e0e0e0 !global;
$background0-primary3: #F8F8F8 !global;
$background0-primary4: #FBFBFB !global;

$form-background0: #fff !global;
$form-background0-focus: #fafafa  !global;
