#single , #page
{
	padding-bottom: 6em;
}

.entry-header
{
}

.entry-title
{
}

.entry-excerpt
{
}

.entry-body
{
}

.post-thumbnail
{
	margin-bottom: 2em;
}

img.img-fullwidth
{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.comments-area
{
	margin-top: 150px;
}

.comments-title
{
	color: $textlight;
}

.comment-list
{
	margin: 0;
	padding: 0;
}

ul.children
{
	margin: 1em 0px;
	padding: 0;
}

li.comment
{
	list-style-type: none;
	padding: 1em;
	margin-bottom: 3em;
}

.comments-area
{
	.depth-1
	{
		@include panel ();
	}

	.depth-2
	{
		border: 1px solid $background0-primary2;
		background-color: $background0-primary3;
	}

	.depth-3
	{
		border: 1px solid $background0-primary2;
		background-color: $background0-primary3;
	}
}

.comment-body
{
}

.comment-author
{
	img
	{
		margin: 15px;
	}
}

.comment-notes
{
	display: none;
}

.comment-respond
{
  label
  {
    display: block;
    padding: 5px 0;	
  }

	textarea
	{
    height: 200px;
    max-height: 400px;
    min-height: 200px;
    resize: vertical;
	}
}

.entrylist
{
}

.entrylist-article
{
	border: 1px solid $background0-primary1;
	background-color: $background0-primary4;

	padding-bottom: 1.5em;
	margin-bottom: 3em;
	font-size: 90%;
	line-height: 1.3em;
}

.entrylist-header , .entrylist-content , .entrylist-footer
{
	padding: 15px 30px;
}

.entrylist-footer
{
	@include font-ui-light();

	color: $textgray;

	a
	{
		color: $textgray;
		@include font-ui-light();
	}

	@include a-noborder();

	.cat-links
	{
		float:right;
		margin-left: 1em;
	}

	.comments-link
	{
		float:right;	
		margin-left: 1em;
	}
}


.content-none-header
{
}

.content-none-legend
{
}

.content-none-search
{
	margin: 3em 6em 10em 6em;
}

nav.pagination { width: 100% ; }

.pagination
{
	text-align: center;
	.nav-links
	{
		margin: 0 auto;
	}

	.page-numbers {
	    display: inline-block;
	    padding: 15px 20px;
	    margin: 0 2px 0 0;
	    border: 2px solid $background0-primary1;
	    line-height: 1;
	    text-decoration: none;
	    border-radius: 2px;

	    font-weight: $font-sans-weight-ultrabold;
	}

	.current , a.page-numbers:hover
	{
		background: $background0-primary3;
	}

	.screen-reader-text {
	    clip: rect(1px, 1px, 1px, 1px);
	    position: absolute !important;
	    height: 1px;
	    width: 1px;
	    overflow: hidden;
	}

}