.bgtitlesection
{
	padding-top: 1em;
	padding-bottom: 2em;
}

/* BACKGROUNDS */

.bg-highlevel {

  background: url($highlevel) repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);

	input[type=text], input[type=password], input[type=input], 
	input[type=tel], input[type=url], input[type=email], 
	input[type=number], input[type=range], input[type=search], input[type=color], 
	input[type=time], input[type=week], input[type=month], input[type=date],  input[type=datetime], 
	textarea, select {
		background: $form-background0;
	}

}


.bg-deskdark {
  background: url($deskdark) repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  color: $color2;	

  p , h3
  {
  	color: $color2;	  	
  }

	input
	{
	  color: $textblack;
	  background: $form-background0;
	}

	.button, .button:visited, input[type=submit] {
		color:$color2;
		background:$color0;
		border:1px solid $color0;
	}

	.button:hover, input[type=submit]:hover {
		color:$color2;
		background:$color3;
	}

}

.bg-skyline {
  background: url('static/css/images/skyline-bg.jpg') repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}


.light-color {
	color: #eee;
}


.toright
{
    width: 100%;
    float: right;
    text-align: right;
}

#footer {
	padding: 0.5em 0;
	background-color: $color6;
	background-image: none;
	font-style: italic;
	line-height: 1;
	font-size: 80%;
	font-weight: 300;
}

#footer a {
	text-decoration: none;
}

#footer , #footer a {
		color: $color2;
}
