#widgets-bottom
{
	background-image: none;
	background-color: $background1-primary-0;
	color: $color2;
	padding-bottom: 13em;


	@include font-footer-text ();

	a, p, h3
	{
		color: $color2;	
	}

	ul
	{
		margin: 0 0 28px 0em;
	}

	li
	{
		margin-bottom: 15px;
		list-style: none;
	}

	a {
		@include font-footer-link ();
		@include a-borderhover ($linkcolor:$color2-primary-1,$hovercolor:$color2-primary-4);

		&:link { 
			box-shadow: none;
			}
		&:visited {
			box-shadow: none;
			}
		&:hover {
			box-shadow: none;
			}
		&:active {
			box-shadow: none;
			}
	}

	h1,h2,h3,h4,h5,h6 {

		@include font-footer-header ();

		margin-bottom: 15px;
		margin-top: 1.5em;
	}

}

#footer {

	padding: 0.5em 0;

	color: $color2;
	background-color: $background1-primary-0;

	font-style: italic;
	text-align: center;

	@include font-sans-light ();

	a {
		@include a-borderhover($linkcolor:$color2,$hovercolor:$color2);
		color: $color2;
	}
}
