@mixin bottom-gravity-form ()
{
	li {
		list-style-type: none;	
	}

	label
	{
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	.gfield_required {
	    color: $color1;
	    margin-left: 4px;
	}
}


.bgtitlesection
{
	padding-top: 1em;
	padding-bottom: 2em;
}

/* BACKGROUNDS */

.bg-highlevel {

  background: url($highlevel) repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);

	@include inputtextselector()
	{
		background: $form-background0;
	}

	@include bottom-gravity-form ();

	a{
		@include a-noborder();		
	}

}


.bg-deskdark {

  background: url($deskdark) repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);

  h1,h2,h3,p,label
  {
	  color: $color2;	
  }

	@include inputtextselector()
	{
		background: $form-background0;
		color: $textblack;
	}

	@include bottom-gravity-form ();
	a{
		@include a-noborder();		
	}

}

.bg-skyline {
  background: url('static/css/images/skyline-bg.jpg') repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}


.light-color {
	color: $textlight;
}


.toright
{
    width: 100%;
    float: right;
    text-align: right;
}

#footer {

	padding: 0.5em 0;

	color: $color2;
	background-color: $color6;

	font-style: italic;
	text-align: center;

	@include font-sans-light ();

	a {
		@include a-noborder();
		color: $color2;
	}
}
