@mixin inputtextselector() {

	input[type=text],
	input[type=password],
	input[type=input],
	input[type=tel],
	input[type=url], 
	input[type=email], 
	input[type=number],
	input[type=range],
	input[type=search],
	input[type=color],
	input[type=time],
	input[type=week],
	input[type=month],
	input[type=date],
	input[type=datetime],
	textarea
		{
        @content;
    }
}


@mixin box-shadow($horizontal:0px , $vertical:0px , $blur:5px, $size: 0px, $color: #777, $opacity: 0.5)
{
	box-shadow:         $horizontal $vertical $blur $size rgba($color, $opacity);
	-moz-box-shadow:    $horizontal $vertical $blur $size rgba($color, $opacity);
	-webkit-box-shadow: $horizontal $vertical $blur $size rgba($color, $opacity);
}

@mixin a-noborder()
{

	a {
		&:link { 
			box-shadow: none;
			}
		&:visited {
			box-shadow: none;
			}
		&:hover {
			box-shadow: none;
			}
		&:active {
			box-shadow: none;
			}
	}
}
