#header
{
	a { @include a-noborder(); }	
}

#header-desktop {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: $background0;
	@include font-ui-text();
}

#header-desktop #sblogo {
	height: 70px;
}

#header-desktop #sblogo a {
	width: 90px;
	height: 70px;
	padding-left: 90px;
	padding-bottom: 45px;
	background-image: url( $logo ) ;
	display:inline;
}

#header-desktop #navigation ul
{
	padding: 0; margin: 0;
	float:right;
}

#header-desktop #navigation li
{
	list-style-type: none;	
	display: inline;
	margin-right: 2em;
}

#header-desktop #navigation a {
	color: $textlight;
	text-decoration: none;
	display: inline;
	border-top: 2px solid $textlight;

	@include font-ui-text();
}

#header-desktop #navigation a:hover {
	color: $textblack;
	text-decoration: none;
	border-top: 2px solid $color4 ;
}
