$font-sans-family: 'Open Sans',sans-serif;
//$font-sans-family: 'Droid Serif',sans-serif;
//$font-sans-family: 'PT Sans Caption', Arial, sans-serif;
//$font-sans-family: 'Lato',sans-serif;
$font-sans-weight-light: 300;
$font-sans-weight-normal: 400;
$font-sans-weight-semibold: 600;
$font-sans-weight-bold: 700;
$font-sans-weight-ultrabold: 700;

$font-ui-family: 'Open Sans',sans-serif;
$font-ui-weight-light: 300;
$font-ui-weight-normal: 400;
$font-ui-weight-semibold: 600;
$font-ui-weight-bold: 700;
$font-ui-weight-ultrabold: 800;

@mixin font-sans-text ()
{
	font-family: $font-sans-family;
	font-size: 21px;

	letter-spacing: -0.1pt;
	line-height: 1.7em;	
	word-spacing: +1px;

	word-wrap:break-word;
}


@mixin font-sans-light ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-light; 
}

@mixin font-sans-normal ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-normal; 
}

@mixin font-sans-bold ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-semibold; 
}

@mixin font-sans-h1 ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-ultrabold;
	font-size: 300%;

	line-height: 1.3em;
	letter-spacing: -1pt;

	word-wrap:normal;

	margin-bottom: 0.5em;
}

@mixin font-sans-h2 ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-bold; 
	font-size: 200%;

	line-height: 1em;
	letter-spacing: -1pt;

	word-wrap:normal;
	margin-bottom: 0.5em;
}

@mixin font-sans-h3 ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-semibold; 
	font-size: 150%;

	line-height: 1.5em;
	letter-spacing: -1pt;

	word-wrap:normal;
	margin-bottom: 0.5em;
}

@mixin font-sans-h4 ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-light; 
	font-size: 22px;

	word-wrap:normal;
}

@mixin font-sans-h5 ()
{
}

@mixin font-sans-h6 ()
{
}

@mixin font-sans-paragraph ()
{
	margin: 0 0 1em;	
}

@mixin font-ui-text ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-semibold; 
	font-size: 14px;

	letter-spacing: +0.5pt;
	line-height: 1.7em;	
	word-spacing: +1px;

	word-wrap:break-word;
	text-transform:uppercase;
}


@mixin font-ui-light ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-semibold; 
	font-size: 12px;

	letter-spacing: +0.3pt;
	line-height: 1em;	
	word-spacing: +1px;

	word-wrap:break-word;
	text-transform:uppercase;
}
