$font-sans-family: 'Open Sans',sans-serif;
//$font-sans-family: 'Droid Serif',sans-serif;
//$font-sans-family: 'PT Sans Caption', Arial, sans-serif;
//$font-sans-family: 'Lato',sans-serif;
$font-sans-weight-thin: 300;
$font-sans-weight-light: 300;
$font-sans-weight-normal: 400;
$font-sans-weight-semibold: 600;
$font-sans-weight-bold: 700;
$font-sans-weight-ultrabold: 700;

$font-header-family: 'Raleway';
$font-header-weight-normal: 500;
$font-header-weight-semibold: 600;
$font-header-weight-bold: 700;
$font-header-weight-ultrabold: 800;

$font-monospace-family: 'monospace';
$font-monospace-weight-thin: 300;
$font-monospace-weight-light: 300;
$font-monospace-weight-normal: 400;
$font-monospace-weight-semibold: 600;
$font-monospace-weight-bold: 700;
$font-monospace-weight-ultrabold: 700;

$font-ui-family: 'Lato',sans-serif;
$font-ui-weight-thin: 100;
$font-ui-weight-light: 300;
$font-ui-weight-normal: 400;
$font-ui-weight-semibold: 700;
$font-ui-weight-bold: 700;
$font-ui-weight-ultrabold: 900;

$font-footer-family:  'Lato',sans-serif;
$font-footer-weight-thin: 100;
$font-footer-weight-light: 300;
$font-footer-weight-normal: 400;
$font-footer-weight-semibold: 700;
$font-footer-weight-bold: 700;
$font-footer-weight-ultrabold: 900;

@mixin font-sans-text ()
{
	font-family: $font-sans-family;
	font-size: 18px;

	letter-spacing: -0.1pt;
	line-height: 1.6em;	
	word-spacing: +1px;

	word-wrap:break-word;

  -webkit-font-smoothing: antialiased;
}

@mixin font-sans-light ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-light; 
}

@mixin font-sans-normal ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-normal; 
}

@mixin font-sans-link ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-semibold; 
}

@mixin font-sans-bold ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-semibold; 
}

@mixin font-sans-small ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-light; 
	font-size: 12px;
}

@mixin font-sans-sidebar ()
{
	@include font-sans-text();
	font-weight: $font-sans-weight-normal; 
	font-size: 14px;
}

@mixin font-sans-h1 ()
{
	font-family: $font-header-family;
	font-weight: $font-header-weight-ultrabold; 
	font-size: 32px;

	line-height: 1.2em;
	letter-spacing: 0pt;

	word-wrap:normal;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

@mixin font-sans-h2 ()
{
	font-family: $font-header-family;
	font-weight: $font-header-weight-bold; 
	font-size: 28px;

	line-height: 1.2em;
	letter-spacing: -0.5pt;

	word-wrap:normal;
	margin-top: 2em;
 	margin-bottom: 1em;
}

@mixin font-sans-h3 ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-semibold; 
	font-size: 24px;

	line-height: 1.5em;
	letter-spacing: -1pt;

	word-wrap:normal;
	margin-bottom: 0.5em;
}

@mixin font-sans-h4 ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-normal; 
	font-size: 18px;

	word-wrap:normal;
}

@mixin font-sans-h5 ()
{
}

@mixin font-sans-h6 ()
{
}

@mixin font-sans-paragraph ()
{
	margin: 0 0 1.6em;	
}


@mixin font-sans-blockquote-italic()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-light; 
	font-size: 19px;
	line-height: 1.4736842105;
	font-style: italic;
}

@mixin font-sans-blockquote-normal()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-normal; 
	font-size: 19px;
	line-height: 1.4736842105;
	font-style: normal;
}

@mixin font-sans-blockquote-bold()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-bold; 
	font-size: 19px;
	font-style: normal;
	line-height: 1.4736842105;
}

@mixin font-sans-address()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-light; 
	font-size: 19px;
	font-style: italic;
	line-height: 1.4736842105;
}


@mixin font-monospace-text ()
{
	font-family: $font-monospace-family;
}

@mixin font-monospace-pre ()
{
	font-family: $font-monospace-family;
	font-size: 16px;
	line-height: 1.3125;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

@mixin font-ui-text ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-semibold; 
	font-size: 14px;

	letter-spacing: +0.5pt;
	line-height: 1.7em;	
	word-spacing: +1px;

	word-wrap:break-word;
	text-transform:uppercase;
}


@mixin font-ui-header ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-semibold; 
	font-size: 18px;

	letter-spacing: +0.5pt;
	line-height: 1.7em;	
	word-spacing: +1px;

	word-wrap:break-word;
	text-transform:uppercase;
}

@mixin font-ui-light ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-semibold; 
	font-size: 11px;

	letter-spacing: +0.5pt;
	line-height: 1em;
	word-spacing: -1px;

	white-space: nowrap;
	word-wrap:break-word;
	text-transform:uppercase;
}

@mixin font-footer-text ()
{
	font-family: $font-footer-family;
	font-weight: $font-footer-weight-light; 
	font-size: 18px;

	letter-spacing: +0.5pt;
	line-height: 1em;	
	word-spacing: +1px;

	word-wrap:break-word;
}

@mixin font-footer-link ()
{
	font-family: $font-footer-family;
	font-weight: $font-footer-weight-normal; 
	font-size: 18px;

	letter-spacing: +0.5pt;
	line-height: 1.2em;	
	word-spacing: +1px;

	word-wrap:break-word;
}


@mixin font-footer-header ()
{
	font-family: $font-footer-family;
	font-weight: $font-footer-weight-bold; 
	font-size: 21px;

	letter-spacing: +0.5pt;
	line-height: 1.7em;	
	word-spacing: +1px;

	word-wrap:normal;
	text-transform:uppercase;
}

@mixin font-product-widget-text ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-normal; 
	font-size: 11px;
	font-style: normal;

	line-height: 1.1em;
	letter-spacing: +0.5pt;

 	line-height: 1em;	letter-spacing: 0;

	word-wrap:normal;
}

@mixin font-product-widget-strong ()
{
	@include font-product-widget-text ();
	font-weight: $font-ui-weight-semibold;
}

@mixin font-product-widget-header ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-bold; 
	font-size: 16px;

	line-height: 1.1em;
	letter-spacing: +0.5pt;

 	line-height: 1em;	letter-spacing: 0;

	word-wrap:normal;
	margin-bottom: 1em;	
}

@mixin font-product-widget-link ()
{
	font-family: $font-ui-family;
	font-weight: $font-ui-weight-semibold; 
	font-style: normal;
	font-size: 11px;

	line-height: 1.1em;
	letter-spacing: +0.5pt;

	word-wrap:normal;
	margin-bottom: 0.5em;
}


@mixin font-product-price ()
{
	font-family: $font-sans-family;
	font-weight: $font-sans-weight-ultrabold; 
	font-size: 85%;

	line-height: 1.5em;
	letter-spacing: +0.5pt;

	word-wrap:normal;
	margin-bottom: 0.5em;	
}
