#widgets-bottom
{

	font-size: 18px;
	font-weight: 300;
	background-image: none;
	background-color: $color6;
	color: $color2;
	padding-bottom: 13em;

	a, p, h3
	{
		color: $color2;		
	}

	a {
		text-decoration: none;
		font-weight: 400;
	}

	h3 {
		text-transform:uppercase;
		font-weight: 600 ;
		font-size: 18px;
		margin: 0;
		padding: 0;	
		padding-top: 15px;	
		padding-bottom: 5px;	
	}

	p {
		margin: 0;
		padding: 0;	
		padding-bottom: 1px;	
	}

}
