#widgets-bottom
{
	background-image: none;
	background-color: $color6;
	color: $color2;
	padding-bottom: 13em;


	@include font-footer-text ();

	a, p, h3
	{
		color: $color2;		
	}

	a {
		@include font-footer-text ();
	}

	h1,h2,h3,h4,h5,h6 {

		@include font-footer-header ();

		margin-bottom: 0.5em;
		margin-top: 1.5em;
	}

	p {
		padding-bottom: 1px;	

		@include font-footer-text ();
	}

}
