#widgets-bottom
{
	background-image: none;
	background-color: $color6;
	color: $color2;
	padding-bottom: 13em;


	@include font-footer-text ();

	a, p, h3
	{
		color: $color2;	
	}

	li
	{
		margin-bottom: 10px;
	}

	a {
		@include font-footer-link ();

		&:link { 
			box-shadow: none;
			}
		&:visited {
			box-shadow: none;
			}
		&:hover {
			box-shadow: none;
			}
		&:active {
			box-shadow: none;
			}
	}

	h1,h2,h3,h4,h5,h6 {

		@include font-footer-header ();

		margin-bottom: 15px;
		margin-top: 1.5em;
	}

}
