
.woocommerce
{

	a{ @include a-noborder(); }


	.entry-content
	{
		a { @include a-border(); }	
	}

	.product-categories
	{
		@include font-ui-light();
		color: $textlight;

		a { color: $textlight; }

		ul.children { margin-left: 2em; }
	}

	select {
		font-size: 12px;
	}

	#respond input#submit, a.button, button.button, input.button {
		@include font-ui-light();
	}

	span.onsale
	{
    top: +1.5em;
    left: +1.5em;
	}

	.woocommerce-ordering
	{
		display: inline;
		margin: 2px;
		position: relative;
	}

	.woocommerce-result-count
	{
		display: inline;
		margin: 2px;
		position: relative;
		font-size: 12px;
	}

	ul.products
	{
		margin-top: 50px;

		li.product
		{
			list-style-type: none;
			float:left;
			position: relative;
			@include panel ();

			p
			{
				@include font-product-excerpt();
				margin: 20px 15px;
			}

			h3
			{
				padding: 0 15px;
				text-align: center;
				@include font-ui-text();
			}

			.price
			{
				@include font-product-price ();

				.amount,del,ins,span
				{
					color: $textlight;
					text-align: center;
					display: block;
					height: auto;
					width: 100%;
				}

			}

			.add_to_cart_button , .ajax_add_to_cart
			{
				@include font-ui-light();
				@include cta-button();
				text-align: center;
				display: block;
				width: 80%;
				margin: 31px auto;
			}

			.added_to_cart
			{
				@include font-ui-text();
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				display: block;
			  color: $textlight !important;
				margin: 5px auto;
			}

		}
	}

	.product
	{
		margin-bottom: 100px;
		display: block;
	}


	.added_to_cart
	{
		text-align: center;
	}

	button.button.alt, input.button.alt
	{
		@include cta-button();
	}

	form.cart
	{
		vertical-align: middle;
	}

	.tagcloud a
	{
		@include tags();
		margin-bottom: 15px;
	}

}