
.woocommerce
{

	.page-title
	{
		display:none;
	}

	a{ @include a-noborder(); }


	.entry-content
	{
		a { @include a-border(); }	
	}

	select {
		font-size: 12px;
	}

	#respond input#submit, a.button, button.button, input.button {
		@include font-ui-light();
	}

	span.onsale
	{
    top: +1.5em;
    left: +1.5em;
	}

	.woocommerce-ordering
	{
		display: inline;
		margin: 2px;
		position: relative;
	}

	.woocommerce-result-count
	{
		display: inline;
		margin: 2px;
		position: relative;
		font-size: 12px;
	}

	ul.products
	{
		margin-top: 50px;

		li.product
		{
			list-style-type: none;
			float:left;
			position: relative;
			@include panel ();
			min-height: 400px;

			h3
			{
				padding: 0 15px;
				text-align: center;
				@include font-ui-text();
				height: 50px;
				overflow: hidden;
			}

			.price
			{
				@include font-product-price ();
				color: $textlight;
				display: block;
				text-align: center;
				width: 100%;
				height: 50px;
				overflow: hidden;

				ins
				{
					color: $color1-primary-3;
				}

				del
				{
					display: none;
				}

			}

			.add_to_cart_button , .ajax_add_to_cart
			{
				@include cta-button();
				text-align: center;
				display: block;
				position: absolute;
				bottom: 0;
				width: 80%;
				left: 0; right: 0;
				margin: 31px auto;
			}

			.added_to_cart
			{
				@include font-ui-text();
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				display: block;
			  color: $textlight !important;
				margin: 5px auto;
			}

		}
	}


	.widget
	{
		@include font-product-widget-text();
		margin-bottom: 30px;

		strong { @include font-product-widget-strong () };
		h3 { @include font-product-widget-header(); }
		
		ul,li
		{
			list-style: none;
			padding-left: 0;
		}

		a {
			@include font-product-widget-link();
		}

		ul.children { margin: 0 15px; }

		.widget_shopping_cart_content
		{
			.cart_list
			{
				.remove { line-height: 1em;	letter-spacing: 0;}

				li
				{
					padding-left: 15px;				
					margin-top: 0.5em;
					margin-bottom: 1em;
				}
			}

			strong , .total
			{
				font-size: 120%;
			}

			.buttons
			{
				text-align: center;
			}
			.button
			{
				@include flat-button ();
				width:80%;
			}
		}
	}

	.product
	{
		margin-bottom: 100px;
		display: block;
	}


	.added_to_cart
	{
		text-align: center;
	}

	button.button.alt, input.button.alt
	{
		@include cta-button();
	}

	form.cart
	{
		vertical-align: middle;
	}

	.tagcloud a
	{
		@include tags();
		margin-bottom: 15px;
	}

}