@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url(../fonts/PTSans-Caption-400.ttf) format('truetype');
}
